<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Piina.net - Suomalaisten Kingistien tukikohta </title>
  </head>
  <body>
    <% include topnav %>
    <div class="otsikko">
    <h1>Piina.net</h1>
    <h3>Suomalaisten Kingistien Tukikohta</h3>
    </div>
    <div class="carousel">
  <% include carousel %>
    </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
  </body>
</html>
