<html>
        <head>
          <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
          <title>title</title>
        <link rel="stylesheet" href="../assets/styles/style.css" type="text/css">
        </head>
        <body>
              <div class="topnav" id="myTopnav">
                      <a href="#home">PIINA.NET</a>
                      <a href="#news">STEPHEN KING</a>
                      <a href="#contact">KIRJAT</a>
                      <a href="#about">FILMOGRAFIA</a>
                    </div> 
        
        </body>
      </html>